{"swagger":"2.0","info":{"description":"Service used to datas business (For now, Casinos, Cities, Countries)","version":"1.0","title":"Flop Data Service","contact":{"name":"WeOpt","url":"http://www.we-opt.com","email":"r.gelibert@we-opt.com"}},"host":"a3797747a788311e9b0610af9df371a1-1334659341.eu-west-1.elb.amazonaws.com","basePath":"/","tags":[{"name":"Admin","description":"Operations used for administration operation (delete, etc...)"},{"name":"All","description":"Casino Services"},{"name":"Casino","description":"Casino Services"},{"name":"City","description":"Exposing services for global Referentials"},{"name":"Country","description":"Exposing services for global Referentials"}],"paths":{"/api/admin/casinos/load":{"post":{"tags":["Admin"],"summary":"Reloading all datas","operationId":"loadCasinosUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasFilter","in":"query","description":"datasFilter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/admin/cities/load":{"post":{"tags":["Admin"],"summary":"Reloading all datas","operationId":"loadCitiesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasFilter","in":"query","description":"datasFilter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/admin/countries/load":{"post":{"tags":["Admin"],"summary":"Reloading all datas","operationId":"loadCountriesUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasFilter","in":"query","description":"datasFilter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/admin/datas/reload":{"post":{"tags":["Admin"],"summary":"Reloading all datas","operationId":"loadDatasUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"datasFilter","in":"query","description":"datasFilter","required":true,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/admin/delete/datas":{"delete":{"tags":["Admin"],"summary":"Delete all datas","operationId":"deleteDatasUsingDELETE","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/casinos":{"get":{"tags":["All","Casino"],"summary":"Finding all casinos","description":"Service to use for getting all of the casinos, without filter","operationId":"findAllCasinosUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CasinoInfosDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["All","Casino"],"summary":"Operation to add a brand new casino. (no update possible)","operationId":"addingCasinoUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"casinoDto","description":"The casino dto","required":false,"schema":{"$ref":"#/definitions/CasinoAddDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room":{"get":{"tags":["All","Casino"],"summary":"Finding all casinos with a poker room","description":"Service to use for getting all of the casinos with a poker room, without any filter","operationId":"findAllPokerRoomCasinosUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CasinoInfosDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room/countries":{"get":{"tags":["All","Casino"],"summary":"Finding all countries wich has a casinos with a poker room","description":"Service to use for getting all of the countries with casinos containing a poker room, without any filter","operationId":"findAllCountriesForCasinosUsingGET","produces":["*/*"],"parameters":[{"name":"partner_only","in":"query","description":"Are we looking only for flop partner ? Default : False","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"query","in":"query","description":"the country query filter","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CasinoCountryDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room/search/casinos":{"get":{"tags":["All","Casino"],"summary":"Finding all casinos with a poker room, filtering by cities and countries","description":"Service to use for getting all of the casinos with a poker room, filtering by cities, countries and name","operationId":"findPokerRoomCasinosFilteredUsingGET","produces":["*/*"],"parameters":[{"name":"alwaysOpen","in":"query","description":"Always open filter","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"city_filters","in":"query","description":"the city filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"country_filters","in":"query","description":"the country filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"latitude","in":"query","description":"The current latitude we want to sort by","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"longitude","in":"query","description":"The current longitude we want to sort by","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"openIn","in":"query","description":"Casino open in filter","required":false,"type":"integer","format":"int32","allowEmptyValue":false},{"name":"openNow","in":"query","description":"Casino open now filter","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"partner_only","in":"query","description":"Are we looking only for flop partner ? Default : False","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"query","in":"query","description":"the casinos query filter","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«CasinoInfosDistanceDto»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room/search/cities":{"get":{"tags":["All","Casino"],"summary":"Search for all cities wich contains a casinos with a poker room","description":"Service to use for getting all of the casinos with a poker room, without any filter","operationId":"findAllCitiesCasinosUsingGET","produces":["*/*"],"parameters":[{"name":"country_filters","in":"query","description":"the country filter","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"query","in":"query","description":"the city query filter","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CasinoCityDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room/{countryName}/cities":{"get":{"tags":["All","Casino"],"summary":"Search for all cities wich contains a casinos with a poker room","description":"Service to use for getting all of the casinos with a poker room, without any filter","operationId":"findAllCitiesForCountryCasinosUsingGET","produces":["*/*"],"parameters":[{"name":"countryName","in":"path","description":"the country filter","required":false,"type":"string"},{"name":"partner_only","in":"query","description":"Are we looking only for flop partner ? Default : False","required":false,"type":"boolean","default":false,"allowEmptyValue":false,"x-example":false},{"name":"query","in":"query","description":"the city query filter","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CasinoCityDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/poker-room/{countryName}/{cityName}/search":{"get":{"tags":["All","Casino"],"summary":"Search for all casinos situated in a specific country / city","description":"Service to get all casinos in a city.","operationId":"findAllCasinosForCityAndCountryUsingGET","produces":["*/*"],"parameters":[{"name":"cityName","in":"path","description":"the city name","required":false,"type":"string"},{"name":"countryName","in":"path","description":"the country name","required":false,"type":"string"},{"name":"query","in":"query","description":"the casino query filter","required":false,"type":"string","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/CasinoInfosDto"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/casinos/{casinoId}":{"get":{"tags":["All","Casino"],"summary":"Get the casino instance from its ID.","operationId":"getCasinoUsingGET","produces":["*/*"],"parameters":[{"name":"casinoId","in":"path","description":"the casino id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CasinoInfosDto"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["All","Casino"],"summary":"Update the casino from its id.","operationId":"updateCasinoUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"casinoId","in":"path","description":"the casino id","required":false,"type":"string"},{"in":"body","name":"updateDto","description":"The casino update DTO","required":false,"schema":{"$ref":"#/definitions/CasinoUpdateDTO"}}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/CasinoInfosDto"}},"201":{"description":"Created"},"204":{"description":"No content","schema":{"$ref":"#/definitions/CasinoInfosDto"}},"400":{"description":"ERR_CASINODOCUMENT_NOT_FOUND - The casino has not been found.","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/cities/search":{"get":{"tags":["All","City"],"summary":"Finding all cities with a query string (this operation will disappear soon)","description":"Service to use, for example in an autocompletion context","operationId":"searchCitiesUsingGET","produces":["*/*"],"parameters":[{"name":"codePays","in":"query","description":"codePays","required":true,"type":"string"},{"name":"query","in":"query","description":"query","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/cities/search/paginate":{"get":{"tags":["All","City"],"summary":"Finding all cities with a query string","description":"Service to use, for example in an autocompletion context","operationId":"searchPaginatedCitiesUsingGET","produces":["*/*"],"parameters":[{"name":"codePays","in":"query","description":"The countryCode we're looking for","required":false,"type":"string","allowEmptyValue":false},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"query","in":"query","description":"The Query String","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/countries/search/paginate":{"get":{"tags":["All","Country"],"summary":"Finding all cities with a query string","description":"Service to use, for example in an autocompletion context","operationId":"searchPaginatedCountriesUsingGET","produces":["*/*"],"parameters":[{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"query","in":"query","description":"The query string","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/version":{"get":{"tags":["All","City"],"summary":"Service's version","operationId":"versionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"ApiError":{"type":"object","properties":{"detailedMessage":{"type":"string"},"errorCode":{"type":"string"},"message":{"type":"string"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"subErrors":{"type":"array","items":{"$ref":"#/definitions/ApiValidationError"}},"timestamp":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"}},"title":"ApiError"},"ApiValidationError":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"},"object":{"type":"string"},"rejectedValue":{"type":"object"}},"title":"ApiValidationError"},"CasinoAddDTO":{"type":"object","properties":{"address":{"type":"string"},"alwaysOpen":{"type":"boolean"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"description":{"type":"string"},"dressCode":{"type":"string"},"facebookUrl":{"type":"string"},"flopPartner":{"type":"boolean"},"geographicalZone":{"type":"string"},"getWebSite":{"type":"string"},"googlePlusUrl":{"type":"string"},"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"},"mailContact":{"type":"string"},"mainCurrency":{"type":"string"},"minimumAgeEntrance":{"type":"integer","format":"int32"},"name":{"type":"string"},"openingDays":{"type":"array","items":{"$ref":"#/definitions/CasinoOpeningDays"}},"pokerRoom":{"type":"boolean"},"postalCode":{"type":"string"},"spokenLanguages":{"type":"string"},"tablesNumber":{"type":"integer","format":"int32"},"telephoneNumber":{"type":"string"},"timeZoneStr":{"type":"string"},"webSite":{"type":"string"},"youtubeUrl":{"type":"string"}},"title":"CasinoAddDTO"},"CasinoCityDto":{"type":"object","properties":{"count":{"type":"integer","format":"int64"},"countryName":{"type":"string"},"name":{"type":"string"}},"title":"CasinoCityDto"},"CasinoCountryDto":{"type":"object","properties":{"code":{"type":"string"},"count":{"type":"integer","format":"int64"},"name":{"type":"string"}},"title":"CasinoCountryDto"},"CasinoInfosDistanceDto":{"type":"object","properties":{"address":{"type":"string"},"alwaysOpen":{"type":"boolean"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"description":{"type":"string"},"distance":{"type":"number","format":"double"},"distanceUnit":{"type":"string","enum":["in","yd","ft","km","NM","mm","cm","mi","m"]},"dressCode":{"type":"string"},"facebookUrl":{"type":"string"},"flopPartner":{"type":"boolean"},"geographicalZone":{"type":"string"},"getWebSite":{"type":"string"},"googlePlusUrl":{"type":"string"},"id":{"type":"string"},"mailContact":{"type":"string"},"mainCurrency":{"type":"string"},"minimumAgeEntrance":{"type":"integer","format":"int32"},"name":{"type":"string"},"open":{"type":"boolean"},"openingDays":{"type":"array","items":{"$ref":"#/definitions/CasinoOpeningDays"}},"pokerRoom":{"type":"boolean"},"position":{"$ref":"#/definitions/GeoPoint"},"postalCode":{"type":"string"},"spokenLanguages":{"type":"string"},"tablesNumber":{"type":"integer","format":"int32"},"telephoneNumber":{"type":"string"},"timeZoneStr":{"type":"string"},"webSite":{"type":"string"},"youtubeUrl":{"type":"string"}},"title":"CasinoInfosDistanceDto"},"CasinoInfosDto":{"type":"object","properties":{"address":{"type":"string"},"alwaysOpen":{"type":"boolean"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"description":{"type":"string"},"dressCode":{"type":"string"},"facebookUrl":{"type":"string"},"flopPartner":{"type":"boolean"},"geographicalZone":{"type":"string"},"getWebSite":{"type":"string"},"googlePlusUrl":{"type":"string"},"id":{"type":"string"},"mailContact":{"type":"string"},"mainCurrency":{"type":"string"},"minimumAgeEntrance":{"type":"integer","format":"int32"},"name":{"type":"string"},"open":{"type":"boolean"},"openingDays":{"type":"array","items":{"$ref":"#/definitions/CasinoOpeningDays"}},"pokerRoom":{"type":"boolean"},"position":{"$ref":"#/definitions/GeoPoint"},"postalCode":{"type":"string"},"spokenLanguages":{"type":"string"},"tablesNumber":{"type":"integer","format":"int32"},"telephoneNumber":{"type":"string"},"timeZoneStr":{"type":"string"},"webSite":{"type":"string"},"youtubeUrl":{"type":"string"}},"title":"CasinoInfosDto"},"CasinoOpeningDays":{"type":"object","properties":{"closingTime":{"type":"string","example":"HHmmssZ"},"dayOfWeek":{"type":"integer","format":"int32"},"openingTime":{"type":"string","example":"HHmmssZ"}},"title":"CasinoOpeningDays"},"CasinoUpdateDTO":{"type":"object","properties":{"address":{"type":"string"},"alwaysOpen":{"type":"boolean"},"city":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"description":{"type":"string"},"dressCode":{"type":"string"},"facebookUrl":{"type":"string"},"flopPartner":{"type":"boolean"},"geographicalZone":{"type":"string"},"getWebSite":{"type":"string"},"googlePlusUrl":{"type":"string"},"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"},"mailContact":{"type":"string"},"mainCurrency":{"type":"string"},"minimumAgeEntrance":{"type":"integer","format":"int32"},"name":{"type":"string"},"openingDays":{"type":"array","items":{"$ref":"#/definitions/CasinoOpeningDays"}},"pokerRoom":{"type":"boolean"},"postalCode":{"type":"string"},"spokenLanguages":{"type":"string"},"tablesNumber":{"type":"integer","format":"int32"},"telephoneNumber":{"type":"string"},"timeZoneStr":{"type":"string"},"webSite":{"type":"string"},"youtubeUrl":{"type":"string"}},"title":"CasinoUpdateDTO"},"GeoPoint":{"type":"object","properties":{"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"}},"title":"GeoPoint"},"Pageable":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"sort":{"$ref":"#/definitions/Sort"},"unpaged":{"type":"boolean"}},"title":"Pageable"},"Page«CasinoInfosDistanceDto»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/CasinoInfosDistanceDto"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«CasinoInfosDistanceDto»"},"Page«CasinoInfosDto»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/CasinoInfosDto"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«CasinoInfosDto»"},"Sort":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}},"title":"Sort"}}}