{"swagger":"2.0","info":{"description":"Service used to manage all games (live and upcoming)","version":"1.0","title":"Flop Games Service","contact":{"name":"WeOpt","url":"http://www.we-opt.com","email":"r.gelibert@we-opt.com"}},"host":"a73ff76e5aa0b11e9b0610af9df371a1-c7a564daa90c3f2c.elb.eu-west-1.amazonaws.com","basePath":"/","tags":[{"name":"Admin","description":"Operations used for administration operation (delete, etc...)"},{"name":"All","description":"Service providing bookmarks specific services."},{"name":"Bookmarks","description":"Service providing bookmarks specific services."},{"name":"Cash Games","description":"Service providing the live cash games interface"},{"name":"Festivals","description":"Service providing the festivals interface"},{"name":"Festivals Tournament","description":"Service providing the festival's tournaments interface"},{"name":"Festivals Tournament Tables","description":"Service providing the festival's tournaments interface"},{"name":"Flop Games","description":"Service providing the flop games interface ==> Creation of virtual games, invite friends workflow etc..."},{"name":"Live","description":"Service providing the live cash games interface"},{"name":"Tickets","description":"Service providing the tickets interface"},{"name":"Tournament Players","description":"Service providing the festival's tournaments interface"},{"name":"Tournament Waiting List","description":"Service providing the festival's tournaments waiting list management"},{"name":"Tournaments","description":"Service providing the live games interface"}],"paths":{"/api/":{"post":{"tags":["All","Flop Games"],"summary":"AbstractFlopGameDocument Creation operation.","operationId":"addGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"addGameDTO","description":"addGameDTO","required":true,"schema":{"$ref":"#/definitions/AddGameDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/admin/delete/datas":{"delete":{"tags":["Admin"],"summary":"Delete all datas","operationId":"deleteDatasUsingDELETE","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festival/{festivalId}/bookmarks/{accountId}/count":{"get":{"tags":["All","Bookmarks"],"summary":"Count bookmarks for a festivals.","operationId":"countBookmarksOnFestivalUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"festivalId","in":"path","description":"The festival Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals":{"post":{"tags":["All","Festivals"],"summary":"Festival creation.","operationId":"createFestivalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"creationDTO","description":"DTO Representation of the creation form","required":false,"schema":{"$ref":"#/definitions/FestivalCreationDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/casino/{casinoId}/list":{"get":{"tags":["All","Festivals"],"summary":"findFestivalsByCasinoId","operationId":"findFestivalsByCasinoIdUsingGET","produces":["*/*"],"parameters":[{"name":"casinoId","in":"path","description":"The festival Id we're looking for","required":false,"type":"string"},{"name":"endsAfter","in":"query","description":"Find Festival which ends after this date","required":false,"type":"string","format":"date"},{"name":"endsBefore","in":"query","description":"Find Festival which ends before this date","required":false,"type":"string","format":"date"},{"name":"name","in":"query","description":"Name to filter with","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"sorted","in":"query","required":false,"type":"boolean"},{"name":"status","in":"query","description":"The status filter","required":false,"type":"array","items":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]},"collectionFormat":"multi","enum":["UPCOMING","FINISHED","RUNNING"]},{"name":"unsorted","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«SearchFestivalsResultDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/casino/{casinoId}/passed":{"get":{"tags":["All","Festivals"],"summary":"findFinishedFestivalsByCasinoId","operationId":"findFinishedFestivalsByCasinoIdUsingGET","produces":["*/*"],"parameters":[{"name":"casinoId","in":"path","description":"The festival Id we're looking for","required":false,"type":"string"},{"name":"endsAfter","in":"query","description":"Find Festival which ends after this date","required":false,"type":"string","format":"date"},{"name":"endsBefore","in":"query","description":"Find Festival which ends before this date","required":false,"type":"string","format":"date"},{"name":"name","in":"query","description":"Name to filter with","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"sorted","in":"query","required":false,"type":"boolean"},{"name":"status","in":"query","description":"The status filter","required":false,"type":"array","items":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]},"collectionFormat":"multi","enum":["UPCOMING","FINISHED","RUNNING"]},{"name":"unsorted","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«SearchFestivalsResultDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/casino/{casinoId}/upcoming":{"get":{"tags":["All","Festivals"],"summary":"findUpcomingFestivalsByCasinoId","operationId":"findUpcomingFestivalsByCasinoIdUsingGET","produces":["*/*"],"parameters":[{"name":"casinoId","in":"path","description":"The festival Id we're looking for","required":false,"type":"string"},{"name":"endsAfter","in":"query","description":"Find Festival which ends after this date","required":false,"type":"string","format":"date"},{"name":"endsBefore","in":"query","description":"Find Festival which ends before this date","required":false,"type":"string","format":"date"},{"name":"name","in":"query","description":"Name to filter with","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"sorted","in":"query","required":false,"type":"boolean"},{"name":"status","in":"query","description":"The status filter","required":false,"type":"array","items":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]},"collectionFormat":"multi","enum":["UPCOMING","FINISHED","RUNNING"]},{"name":"unsorted","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«SearchFestivalsResultDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/search":{"get":{"tags":["All","Festivals"],"summary":"searching for a festival, filtering with some datas.","operationId":"findFestivalsBySearchUsingGET","produces":["*/*"],"parameters":[{"name":"bookmarks","in":"query","required":false,"type":"boolean"},{"name":"casinoId","in":"query","description":"The casino id filter","required":false,"type":"string"},{"name":"cities","in":"query","description":"Cities to filter with","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"countries","in":"query","description":"Countries to filter with","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"currentUserId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"endsAfter","in":"query","description":"Find Festival which ends after this date","required":false,"type":"string","format":"date"},{"name":"endsBefore","in":"query","description":"Find Festival which ends before this date","required":false,"type":"string","format":"date"},{"name":"latitude","in":"query","description":"The reference latitude to find the festival around.","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"The reference longitude to find the festival around.","required":false,"type":"number","format":"double"},{"name":"name","in":"query","description":"Name to filter with","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"status","in":"query","description":"The status filter","required":false,"type":"array","items":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]},"collectionFormat":"multi","enum":["UPCOMING","FINISHED","RUNNING"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«SearchFestivalsResultDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}":{"get":{"tags":["All","Festivals"],"summary":"getFestivalById","operationId":"getFestivalByIdUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FestivalDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["All","Festivals"],"summary":"Festival Update.","operationId":"updateGameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"festival","description":"DTO Representation of the update form","required":false,"schema":{"$ref":"#/definitions/FestivalCreationDTO"}},{"name":"festivalId","in":"path","description":"the festival id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Festivals"],"summary":"deleteFestivalById","operationId":"deleteFestivalByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament":{"post":{"tags":["All","Festivals Tournament"],"summary":"createTournamentInFestival","operationId":"createTournamentInFestivalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"tournament","description":"The Content of the tournament.","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentCreationDTO"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}":{"get":{"tags":["All","Festivals Tournament"],"summary":"getFestivalTournamentById","operationId":"getFestivalTournamentByIdUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LiveTournamentDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Festivals Tournament"],"summary":"deleteFestivalTournamentById","operationId":"deleteFestivalTournamentByIdUsingDELETE_1","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LiveTournamentDocument"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/availability":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"getTournamentAvailability","operationId":"getTournamentAvailabilityUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/format":{"put":{"tags":["All","Festivals Tournament"],"summary":"updateFestivalTournamentFormat","operationId":"updateFestivalTournamentFormatUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"formatDto","description":"The format informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentUpdateFormatDTO"}},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/informations":{"put":{"tags":["All","Festivals Tournament"],"summary":"updateFestivalTournamentGeneralInfos","operationId":"updateFestivalTournamentGeneralInfosUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"formatDto","description":"The general informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentCreationDTO"}},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/interested":{"get":{"tags":["All","Festivals Tournament"],"summary":"getFestivalTournamentInterestedPlayers","operationId":"getFestivalTournamentInterestedPlayersUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"search","in":"query","description":"The search filter, applied to player first name AND last name","required":false,"type":"string","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«LiveGameInterestDocument»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/interested/count":{"get":{"tags":["All","Festivals Tournament"],"summary":"getFestivalTournamentInterestedPlayersCount","operationId":"getFestivalTournamentInterestedPlayersCountUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player":{"post":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"registerPlayerInTournamentFestival","operationId":"registerPlayerInTournamentFestivalUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"player","description":"The Content of the festival.","required":false,"schema":{"$ref":"#/definitions/TournamentPlayerCreationDTO"}},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/flop/{accountId}":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"registerPlayerInTournamentFestival","operationId":"registerPlayerInTournamentFestivalUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The Content of the festival.","required":false,"type":"integer","format":"int64"},{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TournamentPlayerDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/{playerId}":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"getPlayerInfos","operationId":"getPlayerInfosUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The Content of the festival.","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TournamentPlayerDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"updatePlayer","operationId":"updatePlayerUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"playerDto","description":"The new players informations","required":false,"schema":{"$ref":"#/definitions/TournamentPlayerUpdateDTO"}},{"name":"playerId","in":"path","description":"The player we want to upate","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"deleteFestivalTournamentById","operationId":"deleteFestivalTournamentByIdUsingDELETE","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The player we want to delete","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/{playerId}/addon":{"put":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"playerAddOn","operationId":"playerAddOnUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The player id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/{playerId}/rebuy":{"put":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"playerReBuy","operationId":"playerReBuyUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The player id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/{playerId}/reentry":{"put":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"playerReEntry","operationId":"playerReEntryUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The player id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/player/{playerId}/tickets/last/print":{"put":{"tags":["All","Tickets"],"summary":"printTicket","operationId":"printTicketUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"playerId","in":"path","description":"The player id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The game id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TicketDocument"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/players":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"findPlayersInTournament","operationId":"findPlayersInTournamentUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"firstAndLastName","in":"query","required":false,"type":"string"},{"name":"firstName","in":"query","required":false,"type":"string"},{"name":"lastName","in":"query","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«TournamentPlayerDocument»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/players/count":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"countPlayersInTournament","operationId":"countPlayersInTournamentUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/players/count/stream":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"countStreamedPlayersInTournament","operationId":"countStreamedPlayersInTournamentUsingGET","consumes":["text/event-stream"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Flux«long»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/prize-pool":{"put":{"tags":["All","Festivals Tournament"],"summary":"Update the prize pool completely","operationId":"updateFestivalTournamentPrizePoolUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"prizePoolDto","description":"The format informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentUpdatePrizePoolConfigurationDTO"}},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/statistics":{"get":{"tags":["All","Festivals Tournament"],"summary":"tournamentStatistics","operationId":"tournamentStatisticsUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/TournamentStatistics"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/structure":{"put":{"tags":["All","Festivals Tournament"],"summary":"updateFestivalTournamentStructure","operationId":"updateFestivalTournamentStructureUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"formatDto","description":"The structure informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentUpdateStructureDTO"}},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/table":{"post":{"tags":["All","Festivals Tournament Tables"],"summary":"tableTournamentAdd","operationId":"tableTournamentAddUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"in":"body","name":"tableCreationDto","description":"The format informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentTableCreationDTO"}},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/table/list":{"get":{"tags":["All","Festivals Tournament Tables"],"summary":"tableTournamentFindByTableId","operationId":"tableTournamentFindByTableIdUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"sorted","in":"query","required":false,"type":"boolean"},{"name":"tournamentId","in":"path","description":"The game id","required":false,"type":"string"},{"name":"unsorted","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«AbstractLiveTableDocument»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/table/{tableId}":{"get":{"tags":["All","Festivals Tournament Tables"],"summary":"tableTournamentGetById","operationId":"tableTournamentGetByIdUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"sorted","in":"query","required":false,"type":"boolean"},{"name":"tableId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"},{"name":"unsorted","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AbstractLiveTableDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["All","Festivals Tournament Tables"],"summary":"tableUpdateInTournament","operationId":"tableUpdateInTournamentUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tableId","in":"path","description":"The table id","required":false,"type":"string"},{"in":"body","name":"tableUpdateDto","description":"The format informations","required":false,"schema":{"$ref":"#/definitions/FestivalTournamentTableUpdateDTO"}},{"name":"tournamentId","in":"path","description":"The game id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Festivals Tournament Tables"],"summary":"tableDeleteInTournament","operationId":"tableDeleteInTournamentUsingDELETE","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tableId","in":"path","description":"The table id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The game id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/table/{tableId}/players/count":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"countPlayersInTableTournament","operationId":"countPlayersInTableTournamentUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tableId","in":"path","description":"The table id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/table/{tableId}/players/list":{"get":{"tags":["All","Festivals Tournament","Tournament Players"],"summary":"findPlayersInTournamentTable","operationId":"findPlayersInTournamentTableUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tableId","in":"path","description":"The table id","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/TournamentPlayerDocument"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/waiting-list":{"get":{"tags":["All","Tournament Waiting List"],"summary":"getWaitingListPlayers","operationId":"getWaitingListPlayersUsingGET_1","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«WaitingListDocument»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["All","Tournament Waiting List"],"summary":"getWaitingListPlayers","operationId":"getWaitingListPlayersUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"creationDto","description":"The waiting list informations","required":false,"schema":{"$ref":"#/definitions/WaitingListCreationDTO"}},{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WaitingListDocument"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournament/{tournamentId}/waiting-list/{waitingListId}":{"get":{"tags":["All","Tournament Waiting List"],"summary":"getWaitingListPlayers","operationId":"getWaitingListPlayersUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"},{"name":"waitingListId","in":"path","description":"The user waiting list id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/WaitingListDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Tournament Waiting List"],"summary":"deleteWaitingListPlayers","operationId":"deleteWaitingListPlayersUsingDELETE","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"tournamentId","in":"path","description":"The tournament Id we're looking for","required":false,"type":"string"},{"name":"waitingListId","in":"path","description":"The user waiting list id","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/festivals/{festivalId}/tournaments":{"get":{"tags":["All","Festivals Tournament"],"summary":"getFestivalTournamentList","operationId":"getFestivalTournamentListUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«LiveTournamentDocument»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/festivals/{festivalId}/tournaments/count":{"get":{"tags":["All","Festivals Tournament"],"summary":"getFestivalTournamentCount","operationId":"getFestivalTournamentCountUsingGET","produces":["*/*"],"parameters":[{"name":"festivalId","in":"path","description":"The festival Id where the tournament is","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"integer","format":"int64"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/invite/{accountId}/pending":{"get":{"tags":["All","Flop Games"],"summary":"Invitations pending for a specific user.","operationId":"getPendingRequestsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/invite/{accountId}/pending/count":{"get":{"tags":["All","Flop Games"],"summary":"Number of pending requests to a game for a specific user.","operationId":"numberPendingrequestsUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/cash-games/":{"post":{"tags":["All","Cash Games","Live"],"summary":"Create a new cash game instance.","operationId":"liveCashGameCreationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"cashGameCreationDTO","description":"cashGameCreationDTO","required":true,"schema":{"$ref":"#/definitions/LiveCashGameDTOCreation"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/cash-games/search":{"get":{"tags":["All","Cash Games","Live"],"summary":"Searching for live cash games.","operationId":"runningCashGameSearchUsingGET","produces":["*/*"],"parameters":[{"name":"bookmark","in":"query","required":false,"type":"boolean"},{"name":"buyInMax","in":"query","required":false,"type":"number","format":"double"},{"name":"buyInMin","in":"query","required":false,"type":"number","format":"double"},{"name":"casinoId","in":"query","required":false,"type":"string"},{"name":"casinos","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cities","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"countries","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"currentUserId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"festivalId","in":"query","required":false,"type":"string"},{"name":"gameSizeMax","in":"query","required":false,"type":"string"},{"name":"gameSizeMin","in":"query","required":false,"type":"string"},{"name":"gameSizes","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"gameType","in":"query","required":false,"type":"string","enum":["CASH_GAME","TOURNAMENT"]},{"name":"gameVariants","in":"query","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"memberId","in":"query","required":false,"type":"integer","format":"int64"},{"name":"name","in":"query","required":false,"type":"string"},{"name":"page","in":"query","description":"Page number we want to get (from 1 to max page)","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«LiveCashGameSearchResultDTO»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/cash-games/{tableId}/stop":{"put":{"tags":["All","Cash Games","Live"],"summary":"Table stop. This is the end of the table.","operationId":"stopTableUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"tableId","in":"path","description":"Table number we want to stop","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/{gameId}":{"get":{"tags":["All","Live","Tournaments"],"summary":"Get live game informations.","operationId":"getLiveGameInfosUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LiveGameDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/{gameId}/bookmarks/{accountId}":{"get":{"tags":["All","Bookmarks"],"summary":"Get if user has a bookmark on this game.","operationId":"interestPlayerGetLiveGameUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/BookmarksDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["All","Bookmarks"],"summary":"Add a bookmark for a game.","operationId":"addBookmarkUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Bookmarks"],"summary":"Delete user bookmark.","operationId":"bookmarksRemoveForLiveGameUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/live/{gameId}/cancel/{accountId}":{"post":{"tags":["All","Live","Tournaments"],"summary":"Cancel the subscription to a live game.","operationId":"cancelSubscriptionLiveGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/{gameId}/interest/{accountId}":{"get":{"tags":["All","Live","Tournaments"],"summary":"Get if user is interested.","operationId":"interestPlayerGetLiveGameUsingGET_1","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LiveGameInterestDocument"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"post":{"tags":["All","Live","Tournaments"],"summary":"User interest for a game.","operationId":"interestPlayerAddLiveGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"delete":{"tags":["All","Live","Tournaments"],"summary":"Delete user interest.","operationId":"interestPlayerRemoveForLiveGameUsingDELETE","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}},"deprecated":false}},"/api/live/{gameId}/join/{accountId}":{"post":{"tags":["All","Live","Tournaments"],"summary":"Join a live game.","operationId":"joinLiveGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/{gameId}/table/{tableId}/stop":{"post":{"tags":["All","Live","Tournaments"],"summary":"Game ending. This is the end of the table.","operationId":"endGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"},{"name":"tableId","in":"path","description":"Table number we want to stop","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/live/{gameId}/{accountId}":{"get":{"tags":["All","Live","Tournaments"],"summary":"Get player informations in a game.","operationId":"getPlayerInGameUsingGET","produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account id of the player","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/LiveGamePlayerDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/version":{"get":{"tags":["All","Flop Games"],"summary":"Service's version","operationId":"versionUsingGET","produces":["*/*"],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}":{"get":{"tags":["All","Flop Games"],"summary":"Game selection.","operationId":"getGameUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/AddGameDTO"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false},"put":{"tags":["All","Flop Games"],"summary":"Game Update.","operationId":"updateGameUsingPUT_1","consumes":["application/json"],"produces":["*/*"],"parameters":[{"in":"body","name":"game","description":"game","required":true,"schema":{"$ref":"#/definitions/FlopUpdateGameDTO"}},{"name":"gameId","in":"path","description":"the game id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/confirm":{"put":{"tags":["All","Flop Games"],"summary":"Game confirmation, the casino can approve a game from this service. Then the game will be scheduled.","operationId":"confirmGameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/decline":{"put":{"tags":["All","Flop Games"],"summary":"Game decline, the casino can decline a game from this service. Then the game will be won't be schedule anymore.","operationId":"casinoDeclineGameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/invite/{accountId}/confirm":{"post":{"tags":["All","Flop Games"],"summary":"Game invitation confirmation.","operationId":"confirmInvitationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/invite/{accountId}/decline":{"post":{"tags":["All","Flop Games"],"summary":"Game friend invitation decline action.","operationId":"declineInvitationUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"The account Id.","required":false,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/invite/{accountId}/player-in":{"put":{"tags":["All","Flop Games"],"summary":"Player is into the game","operationId":"playerInUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/invite/{accountId}/player-miss":{"put":{"tags":["All","Flop Games"],"summary":"Player missed the game","operationId":"playerMissUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/invite/{accountId}/{inviterId}":{"post":{"tags":["All","Flop Games"],"summary":"Game invitation operation.","operationId":"inviteUserUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"},{"name":"inviterId","in":"path","description":"inviterId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/is-sendable":{"get":{"tags":["All","Flop Games"],"summary":"Defines if the game is sendable.","operationId":"isSendableGameUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"400":{"description":"ERR_GAME_005 - Workflow error.\nERR_GAME_022 - The game is a casino game, we can not send it.","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/join/{accountId}":{"post":{"tags":["All","Flop Games"],"summary":"Game join action for a user.","operationId":"joinGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/members":{"get":{"tags":["All","Flop Games"],"summary":"Get the entire members of a game. Members are confirmed users, or players on the waiting list, sorted by confirmed date.","operationId":"getMembersUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/GameInvitationsDTO"}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/members/confirmed":{"get":{"tags":["All","Flop Games"],"summary":"Get the playing members of a game. This list is just determining the confirmed players actually selected.","operationId":"getConfirmedMembersUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/members/confirmed/count":{"get":{"tags":["All","Flop Games"],"summary":"Get the playing members of a game. This list is just determining the confirmed players actually selected.","operationId":"getConfirmedMembersCountUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"Game Id.","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/members/pending":{"get":{"tags":["All","Flop Games"],"summary":"Get the playing members of a game. Not Implemented Yet","operationId":"getPendingMembersUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/members/{userId}":{"get":{"tags":["All","Flop Games"],"summary":"Define if the user is member of the game, and return the full entity.","operationId":"getMembershipUsingGET","produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"},{"name":"userId","in":"path","description":"userId","required":true,"type":"integer","format":"int64"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/quit/{accountId}":{"post":{"tags":["All","Flop Games"],"summary":"Game quit action for a user.","operationId":"exitGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"accountId","in":"path","description":"accountId","required":true,"type":"integer","format":"int64"},{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/request":{"put":{"tags":["All","Flop Games"],"summary":"Send the request for the game to the casino.","operationId":"sendRequestGameUsingPUT","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"gameId","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"400":{"description":"ERR_GAME_005 - Workflow error.\nERR_GAME_021 - The game cannot be sent because it is not in the good state.\nERR_GAME_022 - The game is a casino game, we can not send it.","schema":{"$ref":"#/definitions/ApiError"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameId}/start":{"post":{"tags":["All","Flop Games"],"summary":"Let's the game begin !!","operationId":"startGameUsingPOST","consumes":["application/json"],"produces":["*/*"],"parameters":[{"name":"gameId","in":"path","description":"The Game id we want to start","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":true}},"/api/{gameType}/current/search":{"get":{"tags":["All","Live","Tournaments"],"summary":"Search for current games","operationId":"liveGamesSearchUsingGET","produces":["*/*"],"parameters":[{"name":"buyInMax","in":"query","description":"Maximum BuyIn filter","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"buyInMin","in":"query","description":"Minimal BuyIn filter","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"casino","in":"query","description":"Casinos filter (mulitple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"city","in":"query","description":"City filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"country","in":"query","description":"Countries filter (mulitple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"gameSize","in":"query","description":"Game Size filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"gameSizeMax","in":"query","description":"Maximum Game Size filter","required":false,"type":"string","allowEmptyValue":false},{"name":"gameSizeMin","in":"query","description":"Minimum Game Size filter","required":false,"type":"string","allowEmptyValue":false},{"name":"gameType","in":"path","description":"gameType","required":true,"type":"string"},{"name":"gameVariant","in":"query","description":"Game Variant filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"name","in":"query","description":"Name of the event filter","required":false,"type":"string","allowEmptyValue":false},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false}],"responses":{"200":{"description":"OK","schema":{"type":"object"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}},"/api/{gameType}/upcoming/search":{"get":{"tags":["All","Flop Games"],"summary":"Search for upcoming games","operationId":"upcomingGamesSearchUsingGET","produces":["*/*"],"parameters":[{"name":"buyInMax","in":"query","description":"Maximum BuyIn filter","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"buyInMin","in":"query","description":"Minimal BuyIn filter","required":false,"type":"number","format":"double","allowEmptyValue":false},{"name":"casino","in":"query","description":"Casinos filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"casinoId","in":"query","description":"Casinos Id filter - filter only games that are scheduled on this casino","required":false,"type":"string","allowEmptyValue":false},{"name":"city","in":"query","description":"City filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"country","in":"query","description":"Country filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"dateFrom","in":"query","description":"Min date we want to search","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"dateTo","in":"query","description":"Max date we want to search","required":false,"type":"string","format":"date-time","allowEmptyValue":false},{"name":"festivalId","in":"query","description":"Festival Id filter","required":false,"type":"string","allowEmptyValue":false},{"name":"gameOrigin","in":"query","description":"Game Origin filter (multiple choices)","required":false,"type":"array","items":{"type":"string","enum":["FLOP_USER","CASINO"]},"collectionFormat":"multi","allowEmptyValue":false,"enum":["FLOP_USER","CASINO"]},{"name":"gameSize","in":"query","description":"Game Size filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"gameSizeMax","in":"query","description":"Maximum Game Size filter","required":false,"type":"string","allowEmptyValue":false},{"name":"gameSizeMin","in":"query","description":"Minimum Game Size filter","required":false,"type":"string","allowEmptyValue":false},{"name":"gameStates","in":"query","description":"Game States filter (multiple choices)","required":false,"type":"array","items":{"type":"string","enum":["DRAFT","PENDING","ACCEPTED","DECLINED","MISSED","RUNNING","FINISHED"]},"collectionFormat":"multi","allowEmptyValue":false,"enum":["DRAFT","PENDING","ACCEPTED","DECLINED","MISSED","RUNNING","FINISHED"]},{"name":"gameType","in":"path","description":"gameType","required":true,"type":"string"},{"name":"gameVariant","in":"query","description":"Game Variant filter (multiple choices)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi","allowEmptyValue":false},{"name":"memberId","in":"query","description":"User joined filter","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"name","in":"query","description":"Name of the event filter","required":false,"type":"string","allowEmptyValue":false},{"name":"onlyBookmarks","in":"query","description":"Do we need to filter only on bookmarks ?","required":false,"type":"boolean","allowEmptyValue":false},{"name":"ownerId","in":"query","description":"Owner Id","required":false,"type":"integer","format":"int64","allowEmptyValue":false},{"name":"page","in":"query","description":"Page number we want to get","required":false,"type":"integer","default":1,"format":"int32","allowEmptyValue":false},{"name":"size","in":"query","description":"Paging size","required":false,"type":"integer","default":20,"format":"int32","allowEmptyValue":false},{"name":"sort","in":"query","description":"Sort order for the games","required":false,"type":"string","default":"ASC","allowEmptyValue":false,"enum":["ASC","DESC"]}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/Page«object»"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}},"deprecated":false}}},"definitions":{"AbstractLiveTableDocument":{"type":"object","properties":{"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"endDate":{"type":"string","format":"date-time"},"gameId":{"type":"string"},"id":{"type":"string"},"maxPlayers":{"type":"integer","format":"int32"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"players":{"type":"array","items":{"$ref":"#/definitions/PlayerDTO"}},"pokerRoomTableId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"tableId":{"type":"string"},"tableName":{"type":"string"},"tableState":{"type":"string","enum":["STAND_BY","OPEN_FOR_REGISTRATIONS","FREE","RUNNING","CLOSED"]}},"title":"AbstractLiveTableDocument"},"AddGameDTO":{"type":"object","properties":{"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"date":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSSZZ"},"gameOrigin":{"type":"string","enum":["FLOP_USER","CASINO"]},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"maxPlayer":{"type":"integer","format":"int32"},"name":{"type":"string"},"ownerId":{"type":"integer","format":"int64"},"publicGame":{"type":"boolean"},"smallBlind":{"type":"integer","format":"int32"}},"title":"AddGameDTO"},"AddOnProperty":{"type":"object","properties":{"cashAmount":{"type":"integer","format":"int64"},"chipsAmount":{"type":"integer","format":"int64"},"fee":{"type":"integer","format":"int32"},"lastLevel":{"type":"integer","format":"int32"},"maxPerPlayer":{"type":"integer","format":"int32"}},"title":"AddOnProperty"},"ApiError":{"type":"object","properties":{"detailedMessage":{"type":"string"},"errorCode":{"type":"string"},"message":{"type":"string"},"status":{"type":"string","enum":["100 CONTINUE","101 SWITCHING_PROTOCOLS","102 PROCESSING","103 CHECKPOINT","200 OK","201 CREATED","202 ACCEPTED","203 NON_AUTHORITATIVE_INFORMATION","204 NO_CONTENT","205 RESET_CONTENT","206 PARTIAL_CONTENT","207 MULTI_STATUS","208 ALREADY_REPORTED","226 IM_USED","300 MULTIPLE_CHOICES","301 MOVED_PERMANENTLY","302 FOUND","302 MOVED_TEMPORARILY","303 SEE_OTHER","304 NOT_MODIFIED","305 USE_PROXY","307 TEMPORARY_REDIRECT","308 PERMANENT_REDIRECT","400 BAD_REQUEST","401 UNAUTHORIZED","402 PAYMENT_REQUIRED","403 FORBIDDEN","404 NOT_FOUND","405 METHOD_NOT_ALLOWED","406 NOT_ACCEPTABLE","407 PROXY_AUTHENTICATION_REQUIRED","408 REQUEST_TIMEOUT","409 CONFLICT","410 GONE","411 LENGTH_REQUIRED","412 PRECONDITION_FAILED","413 PAYLOAD_TOO_LARGE","413 REQUEST_ENTITY_TOO_LARGE","414 URI_TOO_LONG","414 REQUEST_URI_TOO_LONG","415 UNSUPPORTED_MEDIA_TYPE","416 REQUESTED_RANGE_NOT_SATISFIABLE","417 EXPECTATION_FAILED","418 I_AM_A_TEAPOT","419 INSUFFICIENT_SPACE_ON_RESOURCE","420 METHOD_FAILURE","421 DESTINATION_LOCKED","422 UNPROCESSABLE_ENTITY","423 LOCKED","424 FAILED_DEPENDENCY","426 UPGRADE_REQUIRED","428 PRECONDITION_REQUIRED","429 TOO_MANY_REQUESTS","431 REQUEST_HEADER_FIELDS_TOO_LARGE","451 UNAVAILABLE_FOR_LEGAL_REASONS","500 INTERNAL_SERVER_ERROR","501 NOT_IMPLEMENTED","502 BAD_GATEWAY","503 SERVICE_UNAVAILABLE","504 GATEWAY_TIMEOUT","505 HTTP_VERSION_NOT_SUPPORTED","506 VARIANT_ALSO_NEGOTIATES","507 INSUFFICIENT_STORAGE","508 LOOP_DETECTED","509 BANDWIDTH_LIMIT_EXCEEDED","510 NOT_EXTENDED","511 NETWORK_AUTHENTICATION_REQUIRED"]},"subErrors":{"type":"array","items":{"$ref":"#/definitions/ApiValidationError"}},"timestamp":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"}},"title":"ApiError"},"ApiValidationError":{"type":"object","properties":{"field":{"type":"string"},"message":{"type":"string"},"object":{"type":"string"},"rejectedValue":{"type":"object"}},"title":"ApiValidationError"},"BookmarksDocument":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"festivalId":{"type":"string"},"id":{"type":"string"},"liveGameId":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"}},"title":"BookmarksDocument"},"FestivalCreationDTO":{"type":"object","properties":{"casinoId":{"type":"string"},"endDate":{"type":"string","format":"date-time"},"name":{"type":"string"},"startDate":{"type":"string","format":"date-time"}},"title":"FestivalCreationDTO"},"FestivalDocument":{"type":"object","properties":{"address":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"endDate":{"type":"string","example":"yyyy-MM-dd"},"id":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"name":{"type":"string"},"ownerId":{"type":"integer","format":"int64"},"position":{"$ref":"#/definitions/GeoPoint"},"startDate":{"type":"string","example":"yyyy-MM-dd"}},"title":"FestivalDocument"},"FestivalTournamentCreationDTO":{"type":"object","properties":{"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"date":{"type":"string","format":"date-time"},"eventNumber":{"type":"string"},"fee":{"type":"integer","format":"int64"},"gameVariant":{"type":"string"},"lateRegistrationIncludeBreak":{"type":"boolean"},"lateRegistrationLevel":{"type":"integer","format":"int32"},"name":{"type":"string"},"startStack":{"type":"integer","format":"int64"},"takeOut":{"type":"integer","format":"int32"},"tournamentCurrency":{"type":"string"}},"title":"FestivalTournamentCreationDTO"},"FestivalTournamentTableCreationDTO":{"type":"object","properties":{"endDate":{"type":"string","format":"date-time"},"maxPlayers":{"type":"integer","format":"int32"},"pokerRoomTableId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"tableId":{"type":"string"},"tableName":{"type":"string"}},"title":"FestivalTournamentTableCreationDTO"},"FestivalTournamentTableUpdateDTO":{"type":"object","properties":{"endDate":{"type":"string","format":"date-time"},"maxPlayers":{"type":"integer","format":"int32"},"pokerRoomTableId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"tableId":{"type":"string"},"tableName":{"type":"string"},"tableState":{"type":"string","enum":["STAND_BY","OPEN_FOR_REGISTRATIONS","FREE","RUNNING","CLOSED"]}},"title":"FestivalTournamentTableUpdateDTO"},"FestivalTournamentUpdateFormatDTO":{"type":"object","properties":{"addOnAllowed":{"type":"boolean"},"addOnDetails":{"$ref":"#/definitions/AddOnProperty"},"freezOut":{"type":"boolean"},"reEntryAllowed":{"type":"boolean"},"reEntryDetails":{"$ref":"#/definitions/AddOnProperty"},"rebuyAllowed":{"type":"boolean"},"rebuyDetails":{"$ref":"#/definitions/AddOnProperty"}},"title":"FestivalTournamentUpdateFormatDTO"},"FestivalTournamentUpdatePrizePoolConfigurationDTO":{"type":"object","properties":{"tournamentPrizePoolConfiguration":{"$ref":"#/definitions/TournamentPrizePoolConfiguration"}},"title":"FestivalTournamentUpdatePrizePoolConfigurationDTO"},"FestivalTournamentUpdateStructureDTO":{"type":"object","properties":{"tournamentStructure":{"$ref":"#/definitions/TournamentStructure"}},"title":"FestivalTournamentUpdateStructureDTO"},"FlopUpdateGameDTO":{"type":"object","properties":{"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"date":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSSZZ"},"gameOrigin":{"type":"string","enum":["FLOP_USER","CASINO"]},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"maxPlayer":{"type":"integer","format":"int32"},"name":{"type":"string"},"ownerId":{"type":"integer","format":"int64"},"publicGame":{"type":"boolean"},"smallBlind":{"type":"integer","format":"int32"}},"title":"FlopUpdateGameDTO"},"Flux«long»":{"type":"object","properties":{"prefetch":{"type":"integer","format":"int32"}},"title":"Flux«long»"},"GameInvitationsDTO":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"inviterId":{"type":"integer","format":"int64"},"presenceStatus":{"type":"string","enum":["UNKNOWN","PRESENT","MISS"]},"status":{"type":"string","enum":["PENDING","DECLINED","CONFIRMED","DELETED"]}},"title":"GameInvitationsDTO"},"GeoPoint":{"type":"object","properties":{"lat":{"type":"number","format":"double"},"lon":{"type":"number","format":"double"}},"title":"GeoPoint"},"LiveCashGameDTOCreation":{"type":"object","properties":{"table":{"type":"array","items":{"$ref":"#/definitions/LiveCashGameTableDTOCreation"}}},"title":"LiveCashGameDTOCreation"},"LiveCashGameDocument":{"type":"object","properties":{"address":{"type":"string"},"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"date":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSSZZ"},"festivalId":{"type":"string"},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"id":{"type":"string"},"key":{"type":"string"},"liveGameKey":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"name":{"type":"string"},"position":{"$ref":"#/definitions/GeoPoint"},"publicGame":{"type":"boolean"},"smallBlind":{"type":"integer","format":"int32"},"state":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]}},"title":"LiveCashGameDocument"},"LiveCashGameSearchResultDTO":{"type":"object","properties":{"address":{"type":"string"},"buyIn":{"type":"number","format":"double"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"gameSize":{"type":"string"},"gameVariant":{"type":"string"},"liveGameKey":{"type":"string"},"tables":{"type":"array","items":{"$ref":"#/definitions/LiveCashGameTableDocument"}}},"title":"LiveCashGameSearchResultDTO"},"LiveCashGameTableDTOCreation":{"type":"object","properties":{"buyIn":{"type":"number","format":"double"},"gameSize":{"type":"string"},"gameVariant":{"type":"string"},"maxPlayers":{"type":"integer","format":"int32"},"players":{"type":"array","items":{"$ref":"#/definitions/PlayerDTO"}},"tableId":{"type":"string"}},"title":"LiveCashGameTableDTOCreation"},"LiveCashGameTableDocument":{"title":"LiveCashGameTableDocument","allOf":[{"$ref":"#/definitions/AbstractLiveTableDocument"},{"type":"object","properties":{"address":{"type":"string"},"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"endDate":{"type":"string","format":"date-time"},"gameId":{"type":"string"},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"id":{"type":"string"},"key":{"type":"string"},"liveGameKey":{"type":"string"},"maxPlayers":{"type":"integer","format":"int32"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"players":{"type":"array","items":{"$ref":"#/definitions/PlayerDTO"}},"pokerRoomTableId":{"type":"string"},"position":{"$ref":"#/definitions/GeoPoint"},"publicGame":{"type":"boolean"},"smallBlind":{"type":"integer","format":"int32"},"startDate":{"type":"string","format":"date-time"},"tableId":{"type":"string"},"tableName":{"type":"string"},"tableState":{"type":"string","enum":["STAND_BY","OPEN_FOR_REGISTRATIONS","FREE","RUNNING","CLOSED"]}},"title":"LiveCashGameTableDocument"}]},"LiveGameDTO":{"type":"object","properties":{"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"id":{"type":"string"},"playerNumber":{"type":"integer","format":"int32"},"smallBlind":{"type":"integer","format":"int32"},"startedTime":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSSZZ"},"tableNumber":{"type":"integer","format":"int32"},"waitingListNumber":{"type":"integer","format":"int32"}},"title":"LiveGameDTO"},"LiveGameInterestDocument":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"id":{"type":"string"},"liveGameId":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"}},"title":"LiveGameInterestDocument"},"LiveGamePlayerDTO":{"type":"object","properties":{"accountId":{"type":"integer","format":"int64"},"chipCount":{"type":"number","format":"double"},"name":{"type":"string"},"profileImage":{"type":"string"},"registrationDate":{"type":"string","format":"date-time"},"surname":{"type":"string"},"tableNumber":{"type":"string"},"waitingListPosition":{"type":"integer","format":"int32"}},"title":"LiveGamePlayerDTO"},"LiveTournamentDocument":{"type":"object","properties":{"addOnAllowed":{"type":"boolean"},"addOnDetails":{"$ref":"#/definitions/AddOnProperty"},"address":{"type":"string"},"bigBlind":{"type":"integer","format":"int32"},"buyIn":{"type":"number","format":"double"},"casino":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"date":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSSZZ"},"eventID":{"type":"string"},"eventNumber":{"type":"string"},"fee":{"type":"integer","format":"int64"},"festivalId":{"type":"string"},"freezOut":{"type":"boolean"},"gameSize":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"gameVariant":{"type":"string"},"id":{"type":"string"},"key":{"type":"string"},"lateRegistrationIncludeBreak":{"type":"boolean"},"lateRegistrationLevel":{"type":"integer","format":"int32"},"liveGameKey":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"name":{"type":"string"},"position":{"$ref":"#/definitions/GeoPoint"},"publicGame":{"type":"boolean"},"reEntryAllowed":{"type":"boolean"},"reEntryDetails":{"$ref":"#/definitions/AddOnProperty"},"rebuyAllowed":{"type":"boolean"},"rebuyDetails":{"$ref":"#/definitions/AddOnProperty"},"smallBlind":{"type":"integer","format":"int32"},"startStack":{"type":"integer","format":"int64"},"state":{"type":"string","enum":["UPCOMING","FINISHED","RUNNING"]},"takeOut":{"type":"integer","format":"int32"},"tournamentCurrency":{"type":"string"},"tournamentPrizePoolConfiguration":{"$ref":"#/definitions/TournamentPrizePoolConfiguration"},"tournamentStructure":{"$ref":"#/definitions/TournamentStructure"}},"title":"LiveTournamentDocument"},"LiveTournamentTableDocument":{"title":"LiveTournamentTableDocument","allOf":[{"$ref":"#/definitions/AbstractLiveTableDocument"},{"type":"object","properties":{"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"endDate":{"type":"string","format":"date-time"},"gameId":{"type":"string"},"gameType":{"type":"string","enum":["CASH_GAME","TOURNAMENT"]},"id":{"type":"string"},"maxPlayers":{"type":"integer","format":"int32"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"players":{"type":"array","items":{"$ref":"#/definitions/PlayerDTO"}},"pokerRoomTableId":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"tableId":{"type":"string"},"tableName":{"type":"string"},"tableState":{"type":"string","enum":["STAND_BY","OPEN_FOR_REGISTRATIONS","FREE","RUNNING","CLOSED"]}},"title":"LiveTournamentTableDocument"}]},"Pageable":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"sort":{"$ref":"#/definitions/Sort"},"unpaged":{"type":"boolean"}},"title":"Pageable"},"Page«AbstractLiveTableDocument»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/AbstractLiveTableDocument"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«AbstractLiveTableDocument»"},"Page«LiveCashGameSearchResultDTO»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/LiveCashGameSearchResultDTO"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«LiveCashGameSearchResultDTO»"},"Page«LiveGameInterestDocument»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/LiveGameInterestDocument"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«LiveGameInterestDocument»"},"Page«LiveTournamentDocument»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/LiveTournamentDocument"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«LiveTournamentDocument»"},"Page«SearchFestivalsResultDTO»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/SearchFestivalsResultDTO"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«SearchFestivalsResultDTO»"},"Page«TournamentPlayerDocument»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/TournamentPlayerDocument"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«TournamentPlayerDocument»"},"Page«WaitingListDocument»":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/definitions/WaitingListDocument"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«WaitingListDocument»"},"Page«object»":{"type":"object","properties":{"content":{"type":"array","items":{"type":"object"}},"empty":{"type":"boolean"},"first":{"type":"boolean"},"last":{"type":"boolean"},"number":{"type":"integer","format":"int32"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/definitions/Pageable"},"size":{"type":"integer","format":"int32"},"sort":{"$ref":"#/definitions/Sort"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}},"title":"Page«object»"},"PlayerDTO":{"type":"object","properties":{"departureDate":{"type":"string","format":"date-time"},"flopId":{"type":"integer","format":"int64"},"name":{"type":"string"},"registrationDate":{"type":"string","format":"date-time"}},"title":"PlayerDTO"},"PrizePoolRank":{"type":"object","properties":{"percentage":{"type":"number","format":"double"},"rankFrom":{"type":"integer","format":"int64"},"rankTo":{"type":"integer","format":"int64"}},"title":"PrizePoolRank"},"SearchFestivalsResultDTO":{"type":"object","properties":{"address":{"type":"string"},"casinoId":{"type":"string"},"city":{"type":"string"},"country":{"type":"string"},"distance":{"type":"number","format":"double"},"distanceUnit":{"type":"string","enum":["in","yd","ft","km","NM","mm","cm","mi","m"]},"endDate":{"type":"string","format":"date-time"},"id":{"type":"string"},"name":{"type":"string"},"position":{"$ref":"#/definitions/GeoPoint"},"startDate":{"type":"string","format":"date-time"}},"title":"SearchFestivalsResultDTO"},"Seat":{"type":"object","properties":{"position":{"type":"integer","format":"int32"},"tableId":{"type":"string"},"tableName":{"type":"string"}},"title":"Seat"},"Sort":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}},"title":"Sort"},"StructureLevel":{"type":"object","properties":{"ante":{"type":"integer","format":"int64"},"bigBlind":{"type":"integer","format":"int64"},"duration":{"type":"integer","format":"int32"},"level":{"type":"integer","format":"int32"},"smallBlind":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["LEVEL","BREAK"]}},"title":"StructureLevel"},"TicketDocument":{"type":"object","properties":{"amount":{"type":"integer","format":"int64"},"chips":{"type":"integer","format":"int64"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"fee":{"type":"integer","format":"int64"},"gameId":{"type":"string"},"generatedDate":{"type":"string","format":"date-time"},"id":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"officeId":{"type":"string"},"playerId":{"type":"string"},"printOccur":{"type":"integer","format":"int32"},"printed":{"type":"boolean"},"seat":{"$ref":"#/definitions/Seat"},"ticketCount":{"type":"integer","format":"int32"},"ticketGenerated":{"type":"boolean"},"ticketId":{"type":"string"},"ticketPrinterId":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["REGISTER","REBUY","REENTRY","ADDON"]},"valid":{"type":"boolean"}},"title":"TicketDocument"},"TournamentPlayerCreationDTO":{"type":"object","properties":{"birthDate":{"type":"string","format":"date-time"},"firstName":{"type":"string"},"flopId":{"type":"integer","format":"int64"},"lastName":{"type":"string"},"originCountry":{"type":"string"}},"title":"TournamentPlayerCreationDTO"},"TournamentPlayerDocument":{"type":"object","properties":{"addOnNumber":{"type":"integer","format":"int32"},"birthDate":{"type":"string","format":"date-time"},"chipCount":{"type":"integer","format":"int64"},"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"firstName":{"type":"string"},"flopId":{"type":"integer","format":"int64"},"gameId":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"originCountry":{"type":"string"},"playerNumber":{"type":"integer","format":"int32"},"reBuyNumber":{"type":"integer","format":"int32"},"reEntriesNumber":{"type":"integer","format":"int32"},"seat":{"$ref":"#/definitions/Seat"},"status":{"type":"string","enum":["REGISTERED","CANCELED","IN","BUSTED","WINNER","WAITING_FOR_SEAT_DRAW"]}},"title":"TournamentPlayerDocument"},"TournamentPlayerUpdateDTO":{"type":"object","properties":{"birthDate":{"type":"string","format":"date-time"},"firstName":{"type":"string"},"flopId":{"type":"integer","format":"int64"},"lastName":{"type":"string"},"originCountry":{"type":"string"},"status":{"type":"string","enum":["REGISTERED","CANCELED","IN","BUSTED","WINNER","WAITING_FOR_SEAT_DRAW"]}},"title":"TournamentPlayerUpdateDTO"},"TournamentPrizePoolConfiguration":{"type":"object","properties":{"ranks":{"type":"array","items":{"$ref":"#/definitions/PrizePoolRank"}}},"title":"TournamentPrizePoolConfiguration"},"TournamentStatistics":{"type":"object","properties":{"averageStack":{"type":"integer","format":"int64"},"nbAddon":{"type":"integer","format":"int64"},"nbRebuy":{"type":"integer","format":"int64"},"nbReentry":{"type":"integer","format":"int64"},"totalChips":{"type":"integer","format":"int64"},"totalFees":{"type":"integer","format":"int64"},"totalInGamePlayers":{"type":"integer","format":"int64"},"totalPrizePool":{"type":"integer","format":"int64"},"totalUniquePlayers":{"type":"integer","format":"int64"}},"title":"TournamentStatistics"},"TournamentStructure":{"type":"object","properties":{"levels":{"type":"array","items":{"$ref":"#/definitions/StructureLevel"}}},"title":"TournamentStructure"},"WaitingListCreationDTO":{"type":"object","properties":{"firstName":{"type":"string"},"flopId":{"type":"integer","format":"int64"},"lastName":{"type":"string"}},"title":"WaitingListCreationDTO"},"WaitingListDocument":{"type":"object","properties":{"creationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"firstName":{"type":"string"},"flopId":{"type":"string"},"gameId":{"type":"string"},"id":{"type":"string"},"lastName":{"type":"string"},"liveRunningGameId":{"type":"string"},"modificationDate":{"type":"string","example":"yyyy-MM-dd'T'HH:mm:ss.SSS"},"registrationDate":{"type":"string","format":"date-time"}},"title":"WaitingListDocument"}}}