.card-transfert {
  border-bottom: none;
  .ant-card-head {
    height: 48px;
    background: #fbfbfb;
  }

  .ant-card-body {
    height: calc(100vh - 103px - 48px);
    padding: 5px;

    .ant-list {
      height: 100%;
      overflow-y: auto;

      @media only screen and (max-width: 1400px) {
        .ant-list-item {
          width: 200px;
        }
      }
    }
  }

  .right-item {
    height: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  }
}
